# IntelliJ and WebStorm project files
.idea
*.iml

# VSCode project config
.vscode
.eslintrc.json
.prettierrc
.editorconfig

# Build: Dependencies and output files
node_modules/
reports*/
temp/
.sass-cache
.eslintcache
.stylelintcache

# Other: Miscellaneous files
.DS_Store
*.local.js
*.log
